<form method="post" action="{{ path('ADMIN_SPECIFICATION_DELETE', {'id': specification.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette spécificité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specification.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
