{% extends 'base.html.twig' %}

{% block title 'Acheter' %}

{% block body %}

    <div class="container">
        <section class="my-5">
            <h1>Acheter</h1>
        </section>
    </div>

{% endblock %}