<header class="bg-dark">
    <nav class="container navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="{{ path('ADMIN_PROPERTY_INDEX') }}">Administration</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

            </div>
            <a href="{{ path('HOMEPAGE') }}" class="btn btn-light btn-sm me-3">Retour au site</a>
            <a class="btn btn-danger btn-sm" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    </nav>
</header>